.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
env/
venv/
.venv/
ENV/
build/
dist/
node_modules/
.expo/
.expo-shared/
ios/
android/
web-build/
*.log
*.sqlite3
db.sqlite3
media/
.vscode/
.idea/
coverage/
.pytest_cache/

