# Node/Expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/
metro-cache/
*.cache/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo-dev-client/

# React Native
ios/
android/
*.apk
*.aab
*.ipa

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Python/Django
__pycache__/
*.py[cod]
*.sqlite3
/db.sqlite3
# ignore any media directory anywhere
media/
backend/medifile_backend/media/
*.pot
*.pyc
.env.local

# Environments
.env
.venv/
venv/
ENV/

# Project logs
frontend_dev.log
frontend_web.log
backend_dev.log
backend_server.log

# Coverage/pytest
.coverage
coverage/
.pytest_cache/

# IDE
.vscode/
.idea/

# Misc
*.orig
*.rej
